[pull]
	rebase = false
[user]
	email = minhtrannhat@minhtrannhat.com
	name = minhtrannhat
	signingkey = 894C6A5801E01CA9
[commit]
	gpgsign = true
[init]
	defaultBranch = master
[gpg]
	program = /usr/bin/gpg2
[pager]
    diff = delta
    blame = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    side-by-side = true
    line-numbers = true
    syntax-theme = Nord
    navigate = true

[interactive]
    diffFilter = delta --color-only --diff-so-fancy --show-config

[github]
	user = minhtrannhat

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
